@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
.home{
    margin-top: 100px;
    /* padding: 20px; */
    /* background-color: aquamarine; */
    border: 10px solid aquamarine;
    height: 300px;
    width:fit-content;
    border-radius: 20px;
    margin-left: 80px;
    padding-right: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.home h1{
    padding: 40px;
    font-family: 'Raleway', sans-serif;
    font-size: 65px;
    font-weight: bolder;
}

.topStories {
    padding: 40px;
    font-family: 'Raleway', sans-serif;
}



