
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap'); */

.page-indicator{
    justify-content: center;
    /* text-align: center; */
    border: 1.5px solid black;
    border-radius: 50px ;
    font-weight: bold;
    padding: 5px;
}

h1{
    font-family: 'Montserrat', sans-serif;
}

.newsHeader{
    padding: 4px;
    background-color: #16ffd4;
    display: flex;
    align-items: center;
    padding-left: 10%;
    position: sticky;
    z-index: 20;
    top: 0;
}